<%-
  title = 'MLS'; descr = 'MLS'; app = 'MLS'; id = 10;
%>
{
  "dashboard": {
    "uid": "<%= uuid %>",
    "id": null,
    "title": "<%= slug %> - <%= title %>",
    "tags": [ "<%= short_hostname %>", "content-server" ],
    "schemaVersion": 12,
    "version": 1,
    "style": "dark",
    "refresh": "1m",
    "time": { "from": "now/d", "to": "now/d" },
    "timepicker": {
      "time_options": [
        "5m",
        "15m",
        "1h",
        "6h",
        "12h",
        "24h",
        "2d",
        "7d",
        "30d"
      ],
      "now": true,
      "refresh_intervals": [
        "30s",
        "1m",
        "2m",
        "4m",
        "10m"
      ]
    },
    "timezone": "browser",
    "annotations": {
      "list": []
    },
    "templating": {
      "list": [
        {
          "current": {
            "text": "<%= slug %>",
            "value": "<%= graphite_identifier %>"
          },
          "options": [
            {
              "value": "<%= graphite_identifier %>",
              "text": "<%= slug %>"
            }
          ],
          "hide": 2,
          "label": null,
          "name": "host",
          "query": "<%= graphite_identifier %>",
          "type": "constant"
        }
      ]
    },
    "sharedCrosshair": true,
    "editable": true,
    "hideControls": false,

    "rows": [
      {
        "title": "",
        "height": "10px",
        "panels": [
          {
            "id": <%= id += 1 %>,
            "title": "",
            "type": "text",
            "span": 5,
            "mode": "html",
            "transparent": true,
            "content": "<h2 style=\"text-align:center; font-weight:500\"><%= descr %></h2>"
          },
          {
            "id": <%= id += 1 %>,
            "title": "",
            "type": "text",
            "span": 7,
            "mode": "html",
            "transparent": true,
            "content": "<div style=\"text-align:center; font-size: 1.8em\">\n<div style=\"width:49%; float:left\"><a style=\"text-decoration:none\" href=\"<%= tomcat_dashboard_url %>?var-Application=<%= app %>\">Tomcat</a></div>\n  <div style=\"width:49%; float:left\"><a style=\"text-decoration:none\" href=\"<%= memorypools_dashboard_url %>?var-Application=<%= app %>\">Memory Pools</a></div>\n</div>\n"
          }
        ]
      },
      {
        "title": "Query Pool",
        "height": "170px",
        "panels": [
          {
            "timeFrom": null,
            "lines": true,
            "editable": true,
            "renderer": "flot",
            "yaxes": [
              {
                "max": null,
                "logBase": 1,
                "show": true,
                "min": 0,
                "format": "none"
              },
              {
                "format": "short",
                "min": 0,
                "logBase": 1,
                "show": false,
                "max": null
              }
            ],
            "points": false,
            "steppedLine": false,
            "type": "graph",
            "pointradius": 5,
            "isNew": true,
            "nullPointMode": "connected",
            "id": <%= id += 1 %>,
            "fill": 3,
            "grid": {
              "threshold1": null,
              "thresholdLine": false,
              "threshold2Color": "rgba(234, 112, 112, 0.22)",
              "threshold2": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)"
            },
            "timeShift": null,
            "legend": {
              "rightSide": true,
              "total": false,
              "current": true,
              "avg": false,
              "min": false,
              "alignAsTable": true,
              "max": false,
              "show": true,
              "values": true
            },
            "xaxis": {
              "show": true
            },
            "aliasColors": {},
            "error": false,
            "links": [],
            "datasource": "graphite",
            "percentage": false,
            "span": 12,
            "decimals": 0,
            "tooltip": {
              "ordering": "alphabetical",
              "msResolution": false,
              "shared": true,
              "sort": 0,
              "value_type": "cumulative"
            },
            "stack": false,
            "linewidth": 1,
            "bars": false,
            "targets": [
              {
                "textEditor": false,
                "target": "alias(carbon-writer.$host.MLS.QueryPool.queries.max, 'queries max')",
                "refId": "A"
              },
              {
                "refId": "B",
                "target": "alias(carbon-writer.$host.MLS.QueryPool.queries.waiting, 'queries waiting')",
                "textEditor": false
              },
              {
                "refId": "C",
                "textEditor": false,
                "target": "alias(carbon-writer.$host.MLS.QueryPool.executors.idle, 'executors idle')"
              },
              {
                "refId": "D",
                "textEditor": false,
                "target": "alias(carbon-writer.$host.MLS.QueryPool.executors.running, 'executors running')"
              }
            ],
            "seriesOverrides": [],
            "title": "Query Pool"
          }
        ]
      },
      {
        "title": "Statistic Resource Cache",
        "height": "200px",
        "panels": [
          {
            "steppedLine": false,
            "type": "graph",
            "pointradius": 5,
            "timeFrom": null,
            "lines": true,
            "editable": true,
            "renderer": "flot",
            "yaxes": [
              {
                "max": null,
                "min": 0,
                "format": "none",
                "logBase": 1,
                "show": true
              },
              {
                "show": true,
                "logBase": 1,
                "min": 0,
                "format": "short",
                "max": null
              }
            ],
            "points": false,
            "id": <%= id += 1 %>,
            "fill": 3,
            "isNew": true,
            "nullPointMode": "connected",
            "links": [],
            "grid": {
              "threshold1": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)",
              "threshold2": null,
              "threshold1Color": "rgba(216, 200, 27, 0.27)"
            },
            "legend": {
              "show": true,
              "values": true,
              "alignAsTable": true,
              "max": false,
              "avg": false,
              "min": false,
              "rightSide": true,
              "total": false,
              "current": true
            },
            "timeShift": null,
            "aliasColors": {},
            "xaxis": {
              "show": true
            },
            "error": false,
            "linewidth": 1,
            "targets": [
              {
                "refId": "A",
                "target": "aliasByMetric(perSecond(carbon-writer.$host.MLS.StatisticsResourceCache.cache.*))",
                "textEditor": false
              }
            ],
            "bars": false,
            "title": "Statistic Resource Cache",
            "seriesOverrides": [],
            "datasource": "graphite",
            "percentage": false,
            "span": 12,
            "tooltip": {
              "ordering": "alphabetical",
              "msResolution": false,
              "shared": true,
              "sort": 0,
              "value_type": "cumulative"
            },
            "stack": false
          }
        ]
      },
      {
        "title": "Statistic Jobresult",
        "height": "150px",
        "panels": [
          {
            "nullPointMode": "connected",
            "isNew": true,
            "id": <%= id += 1 %>,
            "fill": 3,
            "yaxes": [
              {
                "max": null,
                "logBase": 1,
                "show": true,
                "min": 0,
                "format": "none"
              },
              {
                "format": "short",
                "min": 0,
                "logBase": 1,
                "show": true,
                "max": null
              }
            ],
            "points": false,
            "renderer": "flot",
            "editable": true,
            "lines": true,
            "timeFrom": null,
            "pointradius": 5,
            "type": "graph",
            "steppedLine": false,
            "tooltip": {
              "value_type": "cumulative",
              "sort": 0,
              "msResolution": false,
              "shared": true,
              "ordering": "alphabetical"
            },
            "stack": false,
            "percentage": false,
            "span": 12,
            "datasource": "graphite",
            "seriesOverrides": [],
            "title": "Statistic Jobresult",
            "targets": [
              {
                "textEditor": false,
                "target": "aliasByMetric(perSecond(carbon-writer.$host.MLS.StatisticsJobResult.*))",
                "refId": "A"
              }
            ],
            "bars": false,
            "linewidth": 1,
            "error": false,
            "aliasColors": {},
            "xaxis": {
              "show": true
            },
            "timeShift": null,
            "legend": {
              "max": false,
              "alignAsTable": true,
              "show": true,
              "values": true,
              "total": false,
              "rightSide": true,
              "current": true,
              "min": false,
              "avg": false
            },
            "grid": {
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2": null,
              "threshold2Color": "rgba(234, 112, 112, 0.22)",
              "threshold1": null
            },
            "links": []
          }
        ]
      },
      {
        "title": "Server Resource Cache",
        "height": "200px",
        "panels": [
          {
            "id": <%= id += 1 %>,
            "fill": 3,
            "isNew": true,
            "nullPointMode": "connected",
            "steppedLine": false,
            "type": "graph",
            "pointradius": 5,
            "timeFrom": null,
            "lines": true,
            "editable": true,
            "renderer": "flot",
            "points": false,
            "yaxes": [
              {
                "min": 0,
                "format": "none",
                "logBase": 1,
                "show": true,
                "label": null,
                "max": null
              },
              {
                "label": null,
                "max": null,
                "show": false,
                "logBase": 1,
                "format": "short",
                "min": null
              }
            ],
            "linewidth": 1,
            "targets": [
              {
                "refId": "A",
                "textEditor": false,
                "target": "aliasByMetric(aliasSub(carbon-writer.$host.MLS.Server.ResourceCache.*, '(.*)-', ''))"
              }
            ],
            "bars": false,
            "title": "Server Resource Cache",
            "seriesOverrides": [],
            "datasource": "graphite",
            "percentage": false,
            "span": 12,
            "stack": false,
            "tooltip": {
              "sort": 0,
              "value_type": "cumulative",
              "msResolution": false,
              "shared": true
            },
            "links": [],
            "grid": {
              "threshold1Color": "rgba(216, 200, 27, 0.27)",
              "threshold2Color": "rgba(234, 112, 112, 0.22)",
              "threshold1": null,
              "threshold2": null
            },
            "timeShift": null,
            "legend": {
              "min": false,
              "avg": false,
              "current": true,
              "total": false,
              "rightSide": true,
              "values": true,
              "show": true,
              "alignAsTable": true,
              "max": false
            },
            "xaxis": {
              "show": true
            },
            "aliasColors": {},
            "error": false
          }
        ]
      }
    ]
  }
}
